{:paths   ["src/main/clojure"
           "src/test/clojure"
           "src/test/resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}}
 :aliases {:test {:extra-deps {cloverage {:mvn/version "1.1.2"}}
                  :main-opts  ["-m" "cloverage.coverage"
                               "--fail-threshold" "20"
                               "--src-ns-path" "src/main/clojure"
                               "--test-ns-path" "src/test/clojure"
                               "--coveralls"]}}}
